!!!
%html
  %head
    %title Gifter
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{:href => "https://cdn.simplecss.org/simple-v1.css", :rel => "stylesheet"}/
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if user_signed_in?
      = link_to 'Logout', destroy_user_session_path, method: :delete
    - else
      = link_to 'Login', new_user_session_path
      = link_to 'Signup', new_user_registration_path
    = yield
